.filter-container {
    margin-left: 20px;
}
.filter-container select {
    font-family: 'Playfair Display', serif;
    background-color: #FFC0CB;
    border: none;
    font-size: 1rem;
    text-align: center;
}