.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  font-family: 'Playfair Display', serif;
  margin: 40px 45px 40px 45px;
}

.card-container {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #02376E;
  border-radius: 10px;
  height: 450px;
}

.card-image {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}

.card-title {
  margin: 10px 0;
  font-size: 1.125rem;
  color: #F0EFE9;
}

.card-subtitle {
  font-size: 0.875rem;
  color: #FFC0CB;
}
