<div class="details-page">
    <div class="details-container">
        <button>🔙  Return</button>
        <div class="details-info">
            <img src="./image_720.png" alt="">
            <section class="details-section">
                <h1>Titulo:</h1>
                <p>Año de lanzamiento: </p>
                <p>Popularidad:</p>
                <p>Resumen:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nemo quidem, aliquid deserunt impedit voluptatibus! Dolor, sequi. Nemo laudantium consequuntur repellendus, sequi atque neque dolore cum quas adipisci accusamus ullam.</p>
            </section>
        </div>
        
    </div>
</div>
